.signUpModal {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  top: 0;
  left: 0;
}
.signUpModal.active {
  opacity: 1;
  pointer-events: all;
}
.signUpModal__content {
  position: relative;
  box-sizing: border-box;
  width: 644px;
  /* height: fit-content; */
  padding: 20px 45px;
  border-radius: 20px;
  background-color: white;
  transition: 0.3s all;
  transform: scale(0.3);
}
.signUpModal__content.active {
  transform: scale(1);
}
